Repository makimkin/my-fastapi-ayomi, changes with the labels that .github/labeler.yml gives for each.
All labels: application, infrastructure, domain, interface, settings, build

.github/labeler.yml:

application:
  - changed-files:
      - any-glob-to-any-file: "src/application/**"

infrastructure:
  - changed-files:
      - any-glob-to-any-file: "src/infrastructure/**"

domain:
  - changed-files:
      - any-glob-to-any-file: "src/domain/**"

interface:
  - changed-files:
      - any-glob-to-any-file: "src/interface/**"

settings:
  - changed-files:
      - any-glob-to-any-file: "src/settings/**"

build:
  - changed-files:
      - any-glob-to-any-file:
          [
            "Dockerfile",
            "docker-compose.yml",
            "justfile",
            "poetry.lock",
            "pyproject.toml",
          ]

🍋 chore: justfile refactored
  justfile
Labels: build

🍋🍒 chore+fix: justfile
  justfile
Labels: build

🍋 chore: added app_db env variable
  .env.sample
  docker-compose.app.yaml
  justfile
  src/infrastructure/containers/app.py
  src/settings/config.py
Labels: infrastructure, settings, build

🍆 feat: updated read me
  README.md
Labels: none

🍆 feat: using env variable inside justfile
  .env.sample
  justfile
Labels: build

🥝 docs: updated readme md
  README.md
Labels: none

🍇 test: division by zero tests
  src/tests/e2e/test_calculator_compute.py
  src/tests/unit/test_calculator_rpn.py
Labels: none

🍆 feat: implementing division by zero handling
  src/infrastructure/calculators/exceptions.py
  src/infrastructure/calculators/rpn.py
Labels: infrastructure

🥝 docs: read me test
  README.md
Labels: none

🍆 feat: added the first migration
  src/infrastructure/orm/migrations/versions/2025_01_18_1752-45faa1fbb26f_.py
Labels: infrastructure

🍒 fix: sql calculations repositories
  src/infrastructure/repositories/calculation/sql.py
Labels: infrastructure

🍇 test: health check test updated
  src/tests/e2e/test_health_check.py
Labels: none

🍆 feat: calculation reposition is now inherits infrastructure base class
  src/infrastructure/repositories/common/base.py
  src/infrastructure/repositories/common/memory.py
  src/infrastructure/repositories/common/mongo.py
  src/infrastructure/repositories/common/sql.py
Labels: infrastructure

🍆 feat: updated health check endpoint
  src/interface/api/base/router.py
  src/interface/api/base/schemas.py
Labels: interface

🍒 fix: calculations inherits base repository
  src/infrastructure/repositories/calculation/base.py
Labels: infrastructure

🍓 refactor: another update of the health check endpoint
  src/interface/api/base/router.py
  src/interface/api/base/schemas.py
  src/tests/e2e/test_health_check.py
Labels: interface

🍒🥝 fix+docs: forgotten instruction
  README.md
Labels: none

🥝 docs: added plan.md file
  PLAN.md
Labels: none

🥝🍓 docs+refactor: updating readme.md file
  README.md
Labels: none

🍇 test: added expression empty exception
  src/tests/e2e/test_calculator_compute.py
  src/tests/unit/test_calculation_expression.py
  src/tests/unit/test_calculator_rpn.py
Labels: none

🍆 feat: implementing empty exception handling
  src/domain/calculation/exceptions.py
  src/domain/calculation/value_objects/expression.py
Labels: domain

🍋 chore: added build command
  justfile
Labels: build

🍉 build: updated docker compose app & dockerfile files
  Dockerfile
  docker-compose.app.yaml
Labels: build

🍒 fix: using inner import for app container
  src/infrastructure/containers/app.py
Labels: infrastructure

🍉 build: another update of the dockerfile
  Dockerfile
Labels: build

🍋 chore: added app-connect command
  justfile
Labels: build

🥝 docs: updated read me file (starting commands)
  README.md
Labels: none

🍆 feat: added usage examples to readme.md
  README.md
Labels: none

🍒 fix: field entity id
  src/interface/api/fields.py
Labels: interface

🍆 feat: added calculator read many params
  src/interface/api/calculator/router.py
  src/interface/api/calculator/schemas.py
Labels: interface

🍇 test: read many test
  src/tests/e2e/test_calculator_read_many.py
Labels: none

🍆 feat: added limit / offset to calculations read many
  src/infrastructure/repositories/calculation/base.py
  src/infrastructure/repositories/calculation/memory.py
  src/infrastructure/repositories/calculation/mongo.py
  src/infrastructure/repositories/calculation/sql.py
Labels: infrastructure

🍆 feat: read many query now accepts limit & offset
  src/application/calculation/queries/get_many.py
  src/application/common/query.py
Labels: application

🍇 test: calculation get many query
  src/tests/integration/test_calculation_get_many_query.py
Labels: none

🍆 feat: added limit & offset to read many endpoint
  src/interface/api/calculator/router.py
  src/interface/api/calculator/schemas.py
  src/tests/e2e/test_calculator_read_many.py
Labels: interface

🍇 test: limit & offset e2e test added
  src/infrastructure/repositories/calculation/memory.py
  src/tests/e2e/test_calculator_read_many.py
Labels: infrastructure

🥝 docs: updated plan.md
  PLAN.md
Labels: none

🥝 docs: added project's structure to readme.md
  README.md
Labels: none

🥝 docs: minor improvements inside readme.md
  README.md
Labels: none

🥝 docs: added tests to the project's structuree
  README.md
Labels: none
