Repository makimkin/my-fastapi-ayomi, changes with the labels that .github/labeler.yml gives for each.
All labels: application, infrastructure, domain, interface, settings, build

.github/labeler.yml:

application:
  - changed-files:
      - any-glob-to-any-file: "src/application/**"

infrastructure:
  - changed-files:
      - any-glob-to-any-file: "src/infrastructure/**"

domain:
  - changed-files:
      - any-glob-to-any-file: "src/domain/**"

interface:
  - changed-files:
      - any-glob-to-any-file: "src/interface/**"

settings:
  - changed-files:
      - any-glob-to-any-file: "src/settings/**"

build:
  - changed-files:
      - any-glob-to-any-file:
          [
            "Dockerfile",
            "docker-compose.yml",
            "justfile",
            "poetry.lock",
            "pyproject.toml",
          ]

🥝 docs: readme is translated to english
  README.md
Labels: none

🥝 docs: added justfile mention
  README.md
Labels: none

🍆 feat: minor improvement inside calculation expression
  src/domain/calculation/value_objects/expression.py
Labels: domain

🍆🥝 feat+docs: calculator operand handler unfound exception added
  src/infrastructure/calculators/exceptions.py
  src/infrastructure/calculators/rpn.py
Labels: infrastructure

🍆 feat: environment action precision added
  .env.sample
  README.md
Labels: none
